body {
    display: flex; 
    flex-direction: column; 
    height: 100vh; 
    margin: 2; 
    
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    display: flex;
    flex: 2;
    overflow-y: auto;
}
aside {
    display: flex;
    flex: 1;
    overflow-y: auto;
}
